#container {
    font-size: 16px;
}
.main_heading {
    background-color: grey;
}
.main {
    background-color: blue;
}
.main_footer {
    background-color: green;
}
.main_header,
.main_footer {
  color: red;
}

/*footer p {
    background:red;
}*/


h1+h4 {
    background:blue;
}

ul > li {
  background: grey;
}

a[href="#"] {
    background:white;
}

li:first-child {
  background:blue;
}
li:nth-child(2){
  background: teal;
}
li:nth-child(3){
  background: yellow;
}
